<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/smi20?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <!-- property name="connection.url">jdbc:mysql://localhost:33306/dev_smi20_new?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull</property>
        <property name="connection.username">dev_smi2</property>
        <property name="connection.password">smi2010dev</property-->
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="net.smi2.entities.db.SmiClansEntity"/>
        <mapping class="net.smi2.entities.db.SmiClientsEntity"/>
        <mapping class="net.smi2.entities.db.SmiClientsAdditionalEntity"/>
        <mapping class="net.smi2.entities.db.SmiClientsLevelsEntity"/>
        <mapping class="net.smi2.entities.db.SmiCommentsEntity"/>
        <mapping class="net.smi2.entities.db.SmiImagesEntity"/>
        <mapping class="net.smi2.entities.db.SmiNewsEntity"/>
        <!-- mapping resource="mapping/mapping.hbm.xml"/ -->
    </session-factory>
</hibernate-configuration>